.field img.side0 {
    box-shadow: 0 0 10px red;
}

.field img.side1 {
    box-shadow: 0 0 10px blue;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#field td {
    width: 1%;
    vertical-align: top;
}

.field img.card {
    max-width: 100%;
}

.hand img.card {
    max-height: 100%;
}

.hand img + img {
    margin-left: -25%;
}

.yours {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 150px;
}
