#field {
    position: relative;
}

#magnified {
    position: absolute;
    right: 300px; // same as in #magnified img.card
    }

img.card {
    position: absolute;
    width: 150px;
    height: 75px;
}

#magnified img.card {
    width: 300px;
    height: 200px;
    }